h1{
    display:flex;
    justify-content: center;
    font-size:3rem;
    padding-top:40px;
}


p{
    font-size: 2.5rem;
    text-align: center;
    font-weight:300;

}

header{
    display:flex;
    justify-content: center;
}

button, input{
    font-family: 'Comfortaa', cursive;
}

.pageBackground{
    background-color:pink;
    width:100vw;
    height:100vh;
    max-width: 1600px;
    margin: 0 auto;
}



