h1{
    display:flex;
    justify-content: center;
    font-size:3rem;
    padding-top:40px;
}


p{
    font-size: 2.5rem;
    text-align: center;
    font-weight:300;

}

header{
    display:flex;
    justify-content: center;
}

.homepageContainer{
    padding-top:150px;
}


.Titlepage{
    background-color:pink;
    height: 100vh;
}

.clickHere{
    display:flex;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-style: none;
    padding:20px;
    background-color:#dfbcff;
    color:white;
    border-radius: 20px;
    font-weight: 300;
    font-family: 'Comfortaa', cursive;
    text-transform: capitalize;
    width:200px;
}
