.browseSection{
    background-color: white;
    border: 3px solid black;
    padding:70px;
}

form{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}

.searchButton{
    padding:10px;
    border-style: none;
    border-radius:2px;
    background-color: pink;
    color:black;
    /* box-shadow: 2px 5px 2px lightslategray; */
    margin-top:50px;
    border: 3px solid black;
    font-size:1.7rem;
}

.searchButton:hover{
    background-color: black;
    color:white;
    cursor: pointer;
}

.searchBar{
    display:flex;
    justify-content: start;
}

.submitButton {
    padding:5px;
    /* padding-left:10px;
    padding-right:10px; */
    border-style: none;
    border-radius:10px;
    background-color:black;
    color:white;
    margin:10px;
    font-size:1.5rem;
}

.inputSearch{
    padding:10px;
    border-style: none;
    background-color:white;
    color:black;
    font-size:1.5rem;
    border: 3px solid black;
}

.browseImages{
    margin: 20px;
}

.addButton{
    display: flex;
    justify-content: center;
    margin:10px;


}

.addButton button{
    font-size:1rem;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    border-style: none;
    border-radius:10px;
    background-color:white;
    color:black;
    border: 3px solid black;
}

.addButton button:hover{
    background-color: black;
    color:white;
    cursor: pointer;
}

.searchAndSaveContainer{
    display: flex;
    justify-content: space-evenly;
}

.userSelectionContainer{
    display:flex;
    width:60%;
}

.imageArrayContainer{
    display:flex;

}

.removeButtonContainer{
    display:flex;
    justify-content: center;
    margin:10px;
}

.removeButtonContainer button{
    font-size:1rem;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    border-style: none;
    border-radius:10px;
    background-color:white;
    color:black;
    border: 3px solid black;
}

.removeButtonContainer button:hover{
    background-color: black;
    color:white;
    cursor: pointer;
}

.saveButtonContainer{
    display:flex;
    padding:20px;
    justify-content: center;

}

.saveButtonContainer button{
    font-size:1.7rem;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    border-style: none;
    border-radius:10px;
    background-color:black;
    color:white;
    margin:10px;
}

.saveButtonContainer button:hover{
    background:pink;
    color:black;
    cursor: pointer;
}




